body {
	padding: 1em;
	background-color: #ccddff;
	}
div {
	margin: 0px;
	padding: 0px;
	}

#control {
	}

#logo {
	background-image: url(../images/logo_small_horizontal_blues.png);
	background-position: bottom left;
	background-repeat: no-repeat;
	width: 155px;
	height: 33px;
	}

ul li {
	list-style: none;
	}

ul li a {
	text-decoration: none;
	}

ul.links {
	margin-left: 0.1em;
	}

ul.links>li>a.info {
	display: block;
	padding-left: 26px;
	width: 150px;
	height: 20px;
/*	border-width: 1px;*/
	border-style: solid;
	border-color: #B0D0F0;
/*	background-color: #D0E0FF;*/
	background-image: url(../images/mini/box.png);
	background-repeat: no-repeat;
	background-position: 5px 2px;
/*	margin-bottom: 1px;*/
/*	opacity: 0.8;*/
	-moz-border-radius: 0.3em;
	outline: 0px;
	}
ul.links>li>a.info:hover {
	background-color: #E0F0FF;
	}
ul.links>li>a.info:active,
ul.links>li>a.info.current {
	background-color: #D7E7FF;
	cursor: normal;
	}
ul.links>li>a.info.current {
	}


ul.links>li>a.info.home {
	background-image: url(../images/mini/icon_home.png);
	}
ul.links>li>a.info.classList {
	background-image: url(../images/mini/table.png);
	}
ul.links>li>a.info.search {
	background-image: url(../images/mini/page_find.png);
	}
ul.links>li>a.info.statistics {
	background-image: url(../images/silk/chart_bar.png);
	}
ul.links>li>a.info.parseErrors {
	background-image: url(../images/mini/action_stop.png);
	}
ul.links>li>a.info.about {
	background-image: url(../images/mini/page_text.png);
	}
ul.links>li>a.info.history {
	background-image: url(../images/mini/icon_history.png);
	}
ul.links>li>a.info.changes {
	background-image: url(../images/mini/page_dynamic.png);
	}
ul.links>li>a.info.deprecations {
	background-image: url(../images/mini/icon_alert.png);
	}
ul.links>li>a.info.installation {
	background-image: url(../images/mini/page_settings.png);
	}
ul.links>li>a.info.todos {
	background-image: url(../images/mini/note.png);
	}
ul.links>li>a.info.bugs {
	background-image: url(../images/silk/bug.png);
	}
ul.links>li>a.info.triggers {
	background-image: url(../images/mini/action_go.png);
	}

ul.links>li>a.info.methodOrder {
	background-image: url(../images/silk/spellcheck.png);
	}
