#information {
	padding: 1em 2em;
	}

#information #package_info,
#information #package_files,
#information #package_packages,
#information #file_info,
#information #file_functions,
#information #file_source,
#information #class_members,
#information #class_members_inherited,
#information #class_methods,
#information #class_methods_inherited,
#information #class_info {
	margin-top: 1em;
	}
#information #package_info,
#information #file_info,
#information #class_info {
	padding: 1em 2em;
	background-color: #b9d7ed;
	border: 2px solid #83acca;
	-moz-border-radius: 1em;
	}
#information #package_files,
#information #class_members,
#information #class_members_inherited {
	padding: 0.5em 2em 1em 2em;
	background-color: #d4eb95;
	border: 2px solid #9ec630;
	-moz-border-radius: 1em;
	}
#information #package_packages,
#information #file_functions,
#information #class_methods,
#information #class_methods_inherited {
	padding: 1em 2em;
	background-color: #f1d89b;
	border: 2px solid #f2b92c;
	-moz-border-radius: 1em;
	}
#information #file_source {
	}


#information table {
	background-image: url(../images/lighter25.png);
	background-repeat: repeat;
	border: 1px dotted gray;
	border-collapse: collapse;
	width:500px;
	}
#information table td {
	border: 1px dotted gray;
	}
#information table td ul {
	margin-bottom: 0px;
	}

#information h3.member-public,
#information h3.member-protected,
#information h3.member-private,
#information h3.method-public,
#information h3.method-protected,
#information h3.method-private {
	background-repeat: no-repeat;
	background-position: 0px 11px;
	padding-left: 22px;
	}
#information h3.member-public,
#information h3.method-public {
	background-image: url(../images/mini/icon_world.gif);
	}
#information h3.member-protected,
#information h3.method-protected {
	background-image: url(../images/mini/icon_security.gif);
	}
#information h3.member-private,
#information h3.method-private {
	background-image: url(../images/mini/icon_padlock.gif);
	}
