<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%language%>" lang="<%language%>">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="css/<%theme%>/reset.css"/>
    <link rel="stylesheet" href="css/<%theme%>/typography.css"/>
    <link rel="stylesheet" href="css/<%theme%>/jquery.treeview.css"/>
    <link rel="stylesheet" href="css/<%theme%>/control.css"/>
    <link rel="stylesheet" href="css/<%theme%>/control.treeview.css"/>
    <link rel="stylesheet" href="css/<%theme%>/control.treeview.cm1.css"/>
    <script src="js/jquery.pack.js"></script>
    <script src="js/jquery.treeview.pack.js"></script>
    <script src="js/jquery.cookie.pack.js"></script>
    <script>
$(document).ready(function(){
  $("a").click(function(){
    $("a").removeClass('current');
  });

  $("ul>li>a").click(function(){
    $(this).addClass('current');
  });

  $("ul>li>a").click(function(){
    $(this).addClass('current');
  });

});
    </script>
  </head>
  <body>
    <div id="control">
      <div id="logo"></div>
      <br/>
      <%?links%>
      <%?tree%>
      <%?more%>
    </div>
  </body>
</html>