<?php
return '
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%config.doc.language%>" lang="<%config.doc.language%>">
  <head>
    <title><%config.doc.title%></title>
    <link rel="icon" href="images/book_closed_blue_enhanced.png"/>
  <head>
  <frameset cols="250,*" frameborder="" border="10">
    <frame name="control" src="control.html">
    <frame name="content" src="home.html">
  </frameset>
</html>';
?>