<?php
/**
 *	Copy this file to you project to as shortcut to call DocCreator.
 */

$yourDocConfigFile	= "/path/to/doc.xml";					//  can be relative to path of this file
$pathToDocCreator	= "/var/www/lib/cmTools/DocCreator/";

/*  --  NO CHANGES BELOW NEEDED  --  */
if( !realpath( $yourDocConfigFile ) )
	die( 'Your doc config file "'.$yourDocConfigFile.'" is not existing.'."\n" );
exec( "php ".$pathToDocCreator."create.php5 --config-file=".$yourDocConfigFile );
?>

