<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%language%>" lang="<%language%>">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title></title>
    <link rel="stylesheet" href="css/reset.css"/>
    <link rel="stylesheet" href="css/typography.css"/>
    <link rel="stylesheet" href="css/jquery.treeview.css"/>
    <link rel="stylesheet" href="css/control.css"/>
    <link rel="stylesheet" href="css/control.treeview.css"/>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery.treeview.pack.js"></script>
    <script type="text/javascript" src="js/jquery.cookie.pack.js"></script>
    <script type="text/javascript">
$(document).ready(function(){
  $("#control ul>li>a").click(function(){
    $("#control ul>li>a").removeClass('current');
    $(this).addClass('current');
  });
});
    </script>
  </head>
  <body>
    <div id="control">
      <div id="logo"></div>
      <br/>
      <%?links%>
      <%?tree%>
      <%?more%>
    </div>
  </body>
</html>