#control #tree {
/*	margin-left: 16px;*/
	}

#control #tree ul li a {
	display: block;
/*	margin-left: 2px;*/
	padding-left: 16px;
	height: 16px;
	background-image: url(../images/mini/icon_page.png);
	background-repeat: no-repeat;
	text-decoration: none;
	}
#control #tree ul li a>span {
	display: block;
	margin-top: -2px;
	height: 16px;
	}

#control #tree ul li a.category {
	background-image: url(../images/mini/icon_component.png);
	}

#control #tree ul li a.package {
	background-image: url(../images/mini/icon_package.png);
	padding-left: 20px;
	}

#control #tree ul li a.package>span {
	font-weight: bold;
	padding-left: 4px;
	}

#control #tree ul li a.class {
	background-image: url(../images/mini/page_php.png);
	background-repeat: no-repeat;
	padding-left: 20px;
	height: 16px;
	}

#control #tree ul li a.class:hover {
	text-decoration: underline;
	}

#control #tree ul li a.class.current  {
	text-decoration: underline;
	color: red;
	}

#control #tree ul li a.interface {
	background-image: url(../images/mini/page_dynamic.png);
	background-repeat: no-repeat;
	padding-left: 20px;
	height: 16px;
	}

#control #tree ul li a.interface:hover {
	text-decoration: underline;
	}

#control #tree ul li a.interface.current  {
	text-decoration: underline;
	color: red;
	}

#control #tree ul.shut {
	display: none;
	}

#control #tree b.hilight {
	background-color: lightgreen;
	color: white;
	}

#control input#tree-query {
	border-style: inset;
	border-width: 1px;
	border-color: #CCDDFF;
	background-color: #DDE7FF;
	font-size: 0.9em;
	background-image:url(../images/silk/magnifier.png);
	background-repeat: no-repeat;
	background-position: 1px 0px;
	padding-left: 20px;
	margin-left: 1.5em;
	min-width: 120px;
	margin-right: 1em;
	}

#control input#tree-query.searching {
	background-image:url(../images/spinner.gif);
	}

#control input#tree-query.found {
	background-color: #9FB;
	}

#control input#tree-query.unfound {
	background-color: #FBD;
	}

#control #tree ul li a {
/*	border-width: 1px;*/
	border-style: solid;
	border-color: #B0D0F0;
/*	opacity: 0.8;*/
 	outline: 0px;
	font-size: 0.9em;
	}

#control #tree ul li a:hover {
	background-color: #E0F0FF;
	}

#control #tree ul li a.current  {
	background-color: #D7E7FF;
	cursor: text;
	}
