body.site-info div#info-search input#search-query {
	background-color: none;
	background-image:url(../images/silk/magnifier.png);
	background-position:1px 0;
	background-repeat:no-repeat;
	border:1px inset #CCDDFF;
	min-width:120px;
	padding-left:20px;
	}

body.site-info div#info-search input#search-query.loading {
	background-image:url(../images/spinner.gif);
	}

body.site-info li.class a {
	font-size: 1.1em;
	}

body.site-info div.description {
	font-size: 0.9em;
	color: #444;
	}

body.site-info span.found {
	font-weight: bold;
	background-image: url(../images/background_hilight_gray.png);
	}

body.site-info span.found.term-0 {
	background-image: url(../images/background_hilight_green.png);
	}

body.site-info span.found.term-1 {
	background-image: url(../images/background_hilight_yellow.png);
	}

body.site-info span.found.term-2 {
	background-image: url(../images/background_hilight_red.png);
	}

body.site-info span.found.term-3 {
	background-image: url(../images/background_hilight_blue.png);
	}

	