
#artefact #file_source {
	}


#artefact table {
	background-image: url(../images/lighter25.png);
	background-repeat: repeat;
	border: 1px solid gray;
	border-collapse: collapse;
/*	width:500px;*/
	}
#artefact table th,
#artefact table td {
	border: 1px dotted gray;
	}
#artefact table td ul {
	margin-bottom: 0px;
	}

#artefact h3.member-public,
#artefact h3.member-protected,
#artefact h3.member-private,
#artefact h3.method-public,
#artefact h3.method-protected,
#artefact h3.method-private {
	background-repeat: no-repeat;
	background-position: 0px 11px;
	padding-left: 22px;
	}
#artefact h3.member-public,
#artefact h3.method-public {
	background-image: url(../images/mini/icon_world.png);
	}
#artefact h3.member-protected,
#artefact h3.method-protected {
	background-image: url(../images/mini/icon_security.png);
	}
#artefact h3.member-private,
#artefact h3.method-private {
	background-image: url(../images/mini/icon_padlock.png);
	}
