      <div id="file_source">
        <h2><%words.heading%></h2>
	<div id="source">
		<textarea id="source-code">
			<%?code%>
		</textarea>
	</div>
	<script>
$(document).ready(function(){
	var mirror = CodeMirror.fromTextArea( $("#source-code").get(0), {
		mode: "php",
		readOnly: true,
	});
});
	</script>
		
<!--        <a id="source-line-hide-caller" href="#file_source"><%words.hideLines%></a>
        <a id="source-line-show-caller" href="#file_source"><%words.showLines%></a>
        <ul id="source">
          <%?list%>
        </ul>-->
        [<a href="#top">top</a>]
      </div>
