/*  --  GENERAL  --  */
#index {
	position: fixed;
	background-color: #FFF;
	right: -1px;
	top: -1px;
	border: 1px solid gray;
	background-image: url(../../images/lighter25.png);
	opacity: 0.85;
	width: 16em;
	max-height: 100%;
	overflow: auto;
	}
#index #index-list {
	}
#index li.index-topic > a {
	font-weight: bold;
	}
#index ul {
	list-style: none;
	margin: 0px;
	overflow: hidden
	}
#index ul li {
	padding: 1px 2px;
	}
#index ul li ul {
	margin-left: 20px;
	}
#index a {
	background-repeat: no-repeat;
	background-position: 0px 0px;
	text-decoration: none;
	}
#index a:hover {
	text-decoration: underline;
	}
#index a:active {
	color: red;
	text-decoration: underline;
	}


/*  --  MAIN LINKS  --  */
#index ul li.index-file-info,
#index ul li.index-class-info {
	}
#index ul li.index-class-members,
#index ul li.index-class-members-inherited {
	}
#index ul li.index-file-functions,
#index ul li.index-class-methods,
#index ul li.index-class-methods-inherited {
	}
#index ul li.index-file-source {
	}

#index ul li.index-file-info>a,
#index ul li.index-file-source>a,
#index ul li.index-file-functions>a,
#index ul li.index-class-info>a,
#index ul li.index-class-members>a,
#index ul li.index-class-members-inherited>a,
#index ul li.index-class-methods>a,
#index ul li.index-class-methods-inherited>a {
	padding-left: 20px;
	font-weight: bold;
	}
#index ul li.index-file-info>a {
	background-image: url(../../images/mini/page.png);
	}
#index ul li.index-file-functions>a {
	background-image: url(../../images/mini/action_refresh.png);
	}
#index ul li.index-file-source>a {
	background-image: url(../../images/mini/page_php.png);
	}
#index ul li.index-class-info>a {
	background-image: url(../../images/mini/icon_component.png);
	}
#index ul li.index-class-methods>a,
#index ul li.index-class-methods-inherited>a {
	background-image: url(../../images/mini/icon_settings.png);
	background-image: url(../../images/mini/action_refresh_blue.png);
	}
#index ul li.index-class-members>a,
#index ul li.index-class-members-inherited>a {
	background-image: url(../../images/mini/page_user_dark.png);
	}
#index ul li.index-class-members-inherited,
#index ul li.index-class-methods-inherited {
/*	opacity: 0.75;*/
	font-size: 0.9em;
	}


/*  --  SUB LINKS  --  */
#index ul li.index-function>a,
#index ul li.index-member-public>a,
#index ul li.index-member-protected>a,
#index ul li.index-member-private>a,
#index ul li.index-method-public>a,
#index ul li.index-method-protected>a,
#index ul li.index-method-private>a {
	display: block;
	padding-left: 18px;
	height: 16px;
	}
#index ul li.index-function>a,
#index ul li.index-member-public>a,
#index ul li.index-method-public>a {
	background-image: url(../../images/mini/icon_world.png);
	}
#index ul li.index-member-protected>a,
#index ul li.index-method-protected>a {
	background-image: url(../../images/mini/icon_security.png);
	}
#index ul li.index-member-private>a,
#index ul li.index-method-private>a {
	background-image: url(../../images/mini/icon_padlock.png);
	}


/*  --  CALLER  --  */
#index .index-caller {
	background-color: gray;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 0.9em;
	padding: 0px 10px;
	cursor: pointer;
	}
