body {
	padding: 1em;
	background-color: #FFF;
	}
div {
	margin: 0px;
	padding: 0px;
	}

#control {
	}

#logo {
	}

#control ul li {
	list-style: none;
	}

#control ul li a {
	text-decoration: none;
	}

#control ul.links {
	margin-left: 0.1em;
	}

#control ul.links>li>a.info {
	display: block;
	padding-left: 26px;
	height: 20px;
	background-image: url(../images/mini/box.png);
	background-repeat: no-repeat;
	background-position: 5px 2px;
	outline: 0px;
	}
#control ul.links>li>a.info:hover {
	color: #F00;
	}
#control ul.links>li>a.info:active,
#control ul.links>li>a.info.current {
	color: #000;
	cursor: default;
	}
#control ul.links>li>a.info.current {
	}


#control ul.links>li>a.info.home {
	background-image: url(../images/mini/icon_home.png);
	}
#control ul.links>li>a.info.classList {
	background-image: url(../images/mini/table.png);
	}
#control ul.links>li>a.info.search {
	background-image: url(../images/mini/page_find.png);
	}
#control ul.links>li>a.info.statistics {
	background-image: url(../images/silk/chart_bar.png);
	}
#control ul.links>li>a.info.parseErrors {
	background-image: url(../images/mini/action_stop.png);
	}
#control ul.links>li>a.info.about {
	background-image: url(../images/mini/page_text.png);
	}
#control ul.links>li>a.info.history {
	background-image: url(../images/mini/icon_history.png);
	}
#control ul.links>li>a.info.changes {
	background-image: url(../images/mini/page_dynamic.png);
	}
#control ul.links>li>a.info.deprecations {
	background-image: url(../images/mini/icon_alert.png);
	}
#control ul.links>li>a.info.installation {
	background-image: url(../images/mini/page_settings.png);
	}
#control ul.links>li>a.info.todos {
	background-image: url(../images/mini/note.png);
	}
#control ul.links>li>a.info.bugs {
	background-image: url(../images/silk/bug.png);
	}
#control ul.links>li>a.info.triggers {
	background-image: url(../images/mini/action_go.png);
	}

#control ul.links>li>a.info.methodOrder {
	background-image: url(../images/silk/spellcheck.png);
	}
