[application]
name				= "DocCreator"
version				= "0.7"
date				= "22.11.2010"
author				= "Christian Würker <christian.wuerker@ceusmedia.de>"
company				= "CeuS Media (ceusmedia.de)"
link				= "http://code.google.com/p/cmtools/"

