[application]
name				= "DocCreator"
version				= "0.8.1"
date				= "30.10.2013"
author				= "Christian Würker <christian.wuerker@ceusmedia.de>"
company				= "CeuS Media (ceusmedia.de)"
link				= "http://code.google.com/p/cmtools/"

