<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%language%>" lang="<%language%>">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
		<link rel="stylesheet" href="css/bootstrap.min.css"/>
		<link rel="stylesheet" href="css/content.css"/>
		<script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
		<style>
strike {
	color: gray;
	}
		</style>
	</head>
	<body class="content content-site" style="padding: 2em">

		<h1><%title%></h1>
		<h2><%?words.subtitle%></h2>
<!--		<b><%words.version%></b> <%?config.project.version%><br/>
		<b><%words.date%></b> <%date%><br/>-->
		<br/>
		<%?footer%>
	</body>
</html>
