<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%language%>" lang="<%language%>">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
		<title><%className%></title>
		<link rel="stylesheet" href="css/bootstrap.min.css"/>
		<link rel="stylesheet" href="css/font-awesome.css"/>
		<link rel="stylesheet" href="css/content.css"/>
<!--		<link rel="stylesheet" href="css/content.index.css"/>-->
		<link rel="stylesheet" href="css/content.syntax.css"/>
		<link rel="stylesheet" href="css/content.source.css"/>
		<link rel="stylesheet" href="css/content.artefact.css"/>
		<link rel="stylesheet" href="js/codemirror-5.52.2/lib/codemirror.css"/>
		<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
		<script type="text/javascript" src="js/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/stickyfill.min.js"></script>
		<script type="text/javascript" src="js/dynamic.js"></script>
		<script type="text/javascript" src="js/codemirror-5.52.2/lib/codemirror.js"></script>
		<script type="text/javascript" src="js/codemirror-5.52.2/mode/htmlmixed/htmlmixed.js"></script>
		<script type="text/javascript" src="js/codemirror-5.52.2/mode/xml/xml.js"></script>
		<script type="text/javascript" src="js/codemirror-5.52.2/mode/clike/clike.js"></script>
		<script type="text/javascript" src="js/codemirror-5.52.2/mode/css/css.js"></script>
		<script type="text/javascript" src="js/codemirror-5.52.2/mode/php/php.js"></script>
		<script type="text/javascript" src="js/codemirror-5.52.2/mode/javascript/javascript.js"></script>
		<script type="text/javascript" src="js/codemirror-5.52.2/addon/edit/matchbrackets.js"></script>
	</head>
	<body class='content content-artefact content-class'>
		<%index%>
		<div id="artefact">
			<h1><a name="top">Class: <%className%></a></h1>
			<small>File: <a href="#file_source"><%pathName%></a></small><br/>
			<%fileInfo%>
			<%classInfo%>
			<%classMembers%>
			<%classMethods%>
			<%fileFunctions%>
			<%?fileSource%>
		</div>
		<%?footer%>
	</body>
</html>
