<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%language%>" lang="<%language%>">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
		<title><%?topic%> - <%?title%></title>
		<link rel="stylesheet" href="css/bootstrap.min.css"/>
		<link rel="stylesheet" href="css/content.css"/>
		<link rel="stylesheet" href="css/content.syntax.css"/>
		<script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
	</head>
	<body class="content content-site">
		<div id="encodingErrors">
			<h1><a name="top"><%title%></a></h1>
			<h2><%?words.heading%></h2>
			<%words.description%>
			<%list%>
		</div>
	</body>
</html>
