      <div><b><%words.heading%></b></div>
      <div id="tree_container" style="display: none">
        <%tree%>
        <div class="msgTreeEmpty" style="display:none">Keine Einträge vorhanden.</div>
      </div>
      <script>
<!--
$(document).ready(function(){
  if($("#tree_container li").size()){
    $("#tree_container").treeview({
      animated: "fast",
      collapsed: true,
      persist: "cookie",
      cookieId: "<%cookieId%>"
    }).show();
  }else{
    $(".msgTreeEmpty").show();
  }
});
-->      </script>
