<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%language%>" lang="<%language%>">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="css/reset.css"/>
    <link rel="stylesheet" href="css/typography.css"/>
    <link rel="stylesheet" href="css/jquery.treeview.css"/>
    <link rel="stylesheet" href="css/control.css"/>
    <link rel="stylesheet" href="css/control.treeview.css"/>
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.treeview.pack.js"></script>
    <script src="js/jquery.cookie.pack.js"></script>
    <script src="js/jquery.cmDevLog.js"></script>
    <script src="js/jquery.cmDocTreeSearch.js"></script>
    <script>
$(document).ready(function(){
  $("ul>li>a").click(function(){
    $("ul>li>a").removeClass('current');
    $(this).addClass('current');
  });
  if($("a.class,a.interface",$("#control")).size()<500){
    $(document).cmDocTreeSearch();
    $("#tree-query").show().trigger('keyup');
  }
});
    </script>
  </head>
  <body>
    <div id="control">
      <div id="logo"></div>
      <br/>
      <%?links%>
      <input id="tree-query" name="tree-query" style="display: none"/>
      <%?tree%>
      <div class="msgTreeEmpty" style="display: none">No entries found.</div>
      <%?more%>
    </div>
  </body>
</html>