<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%language%>" lang="<%language%>">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link rel="stylesheet" href="css/reset.css"/>
    <link rel="stylesheet" href="css/typography.css"/>
    <link rel="stylesheet" href="css/content.css"/>
    <link rel="stylesheet" href="css/content.syntax.css"/>
    <link rel="stylesheet" href="css/content.site.search.css"/>
    <script type="text/javascript" src="js/jquery.pack.js"></script>
    <script type="text/javascript" src="js/jquery.history.js"></script>
    <script type="text/javascript">
function sendQuery(){
  $("#search-query").addClass('loading');
  $.ajax({
    type     : "GET",
    url      : "search.php",
    async    : false,
    data     : {query: $("#search-query").val()},
    dataType : "html",
    cache    : false,
    success  : function(html){
      $("#list").html(html);
      $("#search-query").removeClass('loading');
    },
    error: function(msg){
      $("#search-query").removeClass('loading');
      alert(msg);
    }
  });
}
    </script>
  </head>
  <body class="content site-info">
    <div id="info-search">
      <h1><%words.heading%></h1>
      <p><%?words.description%></p>
      <form onsubmit="sendQuery(); return false">
        <input id="search-query" type="text" name="query" value=""/>
        <span id="loader" style="float: left; display: none">
          <img src="images/spinner.gif"/>
        </span>
      </form>
      <div id="list">
      </div>
    </div>
    <%?footer%>
  </body>
</html>
