<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%language%>" lang="<%language%>">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link rel="stylesheet" href="css/reset.css"/>
    <link rel="stylesheet" href="css/typography.css"/>
    <link rel="stylesheet" href="css/content.css"/>
    <link rel="stylesheet" href="css/content.site.classes.css"/>
    <script type="text/javascript" src="js/jquery.pack.js"></script>
  </head>
  <body class="site-info">
    <div id="info-classList">
      <h1><%words.heading%></h1>
      <p><%?words.description%></p>
      <div id="list">
        <%?list%>
      </div>
    </div>
  </body>
</html>
