body.site-info div#info-classList #list-letters * {
	font-size: 1.1em;
	}

body.site-info div#info-classList #list-letters span.letter-disabled {
	color: #CCC;
	}

body.site-info div#info-classList div.letter {
	clear: left;
	padding: 0.2em 0.5em 0.2em 1em;
	margin: 0.5em 0em 0.1em 0em;
	background: #DDD;
	border-botton: #BBB;
	font-weight: bold;
	cursor: pointer;
	}

body.site-info div#info-classList div.file {
	float: left;
	width: 32%;
	}
