<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%language%>" lang="<%language%>">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
		<title><%?topic%> - <%?title%></title>
		<link rel="stylesheet" href="css/bootstrap.min.css"/>
		<link rel="stylesheet" href="css/font-awesome.css"/>
		<link rel="stylesheet" href="css/content.css"/>
		<link rel="stylesheet" href="css/content.site.statistics.css"/>
		<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
		<script type="text/javascript" src="js/stickyfill.min.js"></script>
		<script type="text/javascript" src="js/dynamic.js"></script>
	</head>
	<body class="content content-site site-info">
		<div id="info-statistics">
			<h1><a name="top"><%?title%></a></h1>
			<h2><%?words.statistics.heading%></h2>
			<p><%words.statistics.description%></p>
			<div id="codeTable">
				<table class="grid" width="500px">
					<caption><b><%words.statisticsCode.caption%></b></caption>
					<colgroup>
						<col width="40%"/>
						<col width="20%"/>
						<col width="20%"/>
						<col width="20%"/>
					</colgroup>
					<tr>
						<th></th>
						<th><%words.statisticsCode.headTotal%></th>
						<th><%words.statisticsCode.headPerFile%></th>
						<th><%words.statisticsCode.headPercentage%></th>
					</tr>
					<tr>
						<td><%words.statisticsCode.linesTotal%></th>
						<td class="numeric"><%?data.number.lines%></td>
						<td class="numeric"><%?data.ratio.linesPerFile%></td>
						<td class="numeric"><small>100 %</small></td>
					</tr>
					<tr class="codes">
						<td><%words.statisticsCode.linesCode%></th>
						<td class="numeric"><b><%?data.number.codes%></b></td>
						<td class="numeric"><b><%?data.ratio.codesPerFile%></b></td>
						<td class="numeric"><b><%?data.ratio.codesPerFile%%> %</b></td>
					</tr>
					<tr class="docs">
						<td><%words.statisticsCode.linesDoc%></th>
						<td class="numeric"><%?data.number.docs%></td>
						<td class="numeric"><%?data.ratio.docsPerFile%></td>
						<td class="numeric"><%?data.ratio.docsPerFile%%> %</td>
					</tr>
					<tr class="strips">
						<td><%words.statisticsCode.linesStripped%></th>
						<td class="numeric"><%?data.number.strips%></td>
						<td class="numeric"><%?data.ratio.stripsPerFile%></td>
						<td class="numeric"><%?data.ratio.stripsPerFile%%> %</td>
					</tr>
				</table>
				<br/>
			</div>
			<div id="metricsTable">
				<table class="grid" width="500px">
					<caption><b><%words.statisticsMetrics.caption%></b></caption>
					<colgroup>
						<col width="40%"/>
						<col width="30%"/>
						<col width="30%"/>
					</colgroup>
					<tr>
						<th></th>
						<th><%words.statisticsMetrics.headTotal%></th>
						<th><%words.statisticsMetrics.headPerFile%></th>
					</tr>
					<tr>
						<td><%words.statisticsMetrics.files%></td>
						<td class="numeric"><%?data.number.files%></td>
						<td class="numeric"></td>
					</tr>
					<tr>
						<td><%words.statisticsMetrics.length%></td>
						<td class="numeric"><%?data.length.total%></td>
						<td class="numeric"><%?data.length.perFile%></td>
					</tr>
<!--					<tr>
						<td><%words.statisticsMetrics.timeAnalysis%></td>
						<td class="numeric"><%?data.time.stats.total%></td>
						<td class="numeric"><%?data.time.stats.perFile%></td>
					</tr>
					<tr>
						<td><%words.statisticsMetrics.timeParse%></td>
						<td class="numeric"><%?data.time.parse.total%></td>
						<td class="numeric"><%?data.time.parse.perFile%></td>
					</tr>
					<tr>
						<td><%words.statisticsMetrics.timeBuild%></td>
						<td class="numeric"><%?data.time.build.total%></td>
						<td class="numeric"><%?data.time.build.perFile%></td>
					</tr>-->
				</table>
				<br/>
			</div>
			<div id="graph">
				<embed src="<%?graphFile%>" width="518" height="400">
			</div>
		</div>
		<%?footer%>
	</body>
</html>
