<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%language%>" lang="<%language%>">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title><%interfaceName%></title>
    <link rel="stylesheet" href="css/reset.css"/>
    <link rel="stylesheet" href="css/typography.css"/>
    <link rel="stylesheet" href="css/content.css"/>
    <link rel="stylesheet" href="css/content.index.css"/>
    <link rel="stylesheet" href="css/content.information.css"/>
    <link rel="stylesheet" href="css/content.syntax.css"/>
    <link rel="stylesheet" href="css/content.source.css"/>
    <link rel="stylesheet" href="css/jquery.thickbox.css"/>
    <script type="text/javascript" src="js/jquery.pack.js"></script>
  </head>
  <body class='content'>
    <a name="top"></a>
    <%index%>
    <div id="information">
      <h1><%words.type%>: <%interfaceName%></h1>
      <small>File: <a href="#file_source"><%pathName%></a></small><br/>
      <%fileInfo%>
      <%interfaceInfo%>
      <%interfaceMethods%>
      <%fileFunctions%>
      <%?fileSource%>
    </div>
	<%?footer%>
  </body>
  <script src="js/jquery.cookie.pack.js"></script>
  <script src="js/jquery.thickbox.pack.js"></script>
  <script src="js/dynamic.js"></script>
</html>
